/* Global Styles */
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
  /* overflow: hidden; */
}

body::-webkit-scrollbar {
  display: none;
}

/* Utilities */
.contain {
  max-width: 1100px;
  height: 100vh;
  margin: auto;
  /* overflow: hidden; */
  padding: 3rem 2rem;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
  list-style-type: none;
}

.text-dark {
  color: var(--dark-color);
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  /* background: var(--light-color); */
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  margin: 0;
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
  margin: 0;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

/* Landing Page */
.landing {
  position: relative;
  background: url('https://i.pinimg.com/originals/a1/37/8a/a1378a6656acc8e5d9a18ad6f67d68ec.gif')
    no-repeat center center/cover;
  height: calc(100vh - 4.49rem);
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Profiles Page */
.profile {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  align-items: center;
  grid-gap: 2rem;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
  border: 2px;
  border-color: #343a40;
  border-style: outset;
}
.profile img {
  margin-left: 3rem;
}

/* Profile Page */
.profile-grid {
  display: grid;
  grid-template-areas:
    'top top'
    'about about'
    'exp edu'
    'github github';
  grid-gap: 1rem;
}

.profile-top {
  grid-area: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px;
  border-color: #343a40;
  border-style: outset;
  padding-top: 1rem;
}
.profile-top h1 {
  padding-top: 1rem;
}

.profile-top img {
  width: 250px;
}

.profile-top .icons a {
  color: #fff;
  margin: 0 0.3rem;
}

.profile-top .icons a:hover {
  color: var(--dark-color);
}

.profile-about {
  grid-area: about;
  text-align: center;
  border: 2px;
  border-color: #343a40;
  border-style: outset;
}

.profile-about .skills {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-exp {
  grid-area: exp;
  border: 2px;
  border-color: #343a40;
  border-style: outset;
}

.profile-edu {
  grid-area: edu;
  border: 2px;
  border-color: #343a40;
  border-style: outset;
}

.profile-exp h2,
.profile-edu h2 {
  margin-bottom: 1rem;
}

.profile-exp > div,
.profile-edu > div {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: #ccc 1px dotted;
}

.profile-exp > div:last-child,
.profile-edu > div:last-child {
  border: 0;
}

.profile-exp p,
.profile-edu p {
  margin: 0.5rem 0;
}

.profile-github {
  grid-area: github;
}

.profile-github .repo {
  display: flex;
}

.profile-github .repo > div:first-child {
  flex: 7;
  flex-basis: 70%;
}

.profile-github > div:last-child {
  flex: 3;
  flex-basis: 20%;
}

/* Posts Page */
.post-form .post-form-header {
  background: var(--primary-color);
  padding: 0.5rem;
}

.post {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  align-items: center;
}

.post > div:first-child {
  text-align: center;
}

.post img {
  width: 100px;
}

.post .comment-count {
  background: var(--light-color);
  color: var(--primary-color);
  padding: 0.01rem 0.2rem;
  border-radius: 5px;
  font-size: 0.8rem;
  margin-left: 0.2rem;
}

.post .post-date {
  color: #aaa;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
.post .user-name {
  text-decoration: none;
  color: var(--primary-color);
}
.post-about {
  grid-area: auto;
  text-align: center;
  border: 2px;
  border-color: #343a40;
  border-style: outset;
}

.round-img {
  border-radius: 50%;
}

.avatar-img {
  width: 150px;
  height: 150px;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Forms */
.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='file'],
.form input[type='date'],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form input[type='submit'],
button {
  font: inherit;
}

.table th,
.table td {
  padding: 0.3rem 0.6rem;
  text-align: left;
}

.table th {
  border: 2px;
  border-color: #343a40;
  border-style: outset;
}

/* Navbar  */
.navbar {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background: #000;
  opacity: 0.9;
  border-bottom: 1px solid var(--primary-color);
}
.navbar .mode {
  margin-left: auto;
}
.links {
  display: flex;
}

.link {
  margin: 1rem;
  text-decoration: none;
  color: #fff;
}

.links .link {
  padding-top: 0.4rem;
}

.links .link:hover {
  color: var(--primary-color);
  transition: all 0.2s ease-in;
}

/* Expanding border effect */

.links .link::after {
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  width: 0;
  height: 2px;
  background-color: #fff;
  content: '';
  opacity: 0;
  transition: width 0.6s, opacity 0.8s;
}

.links .link:hover::after,
.links .link:focus::after {
  opacity: 1;
  width: 100%;
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

/* Buttons */
.buttons .btn {
  position: relative;
  display: inline-block;
  padding: 0.6rem;
  margin: 40px 0;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  margin-right: 50px;
}
.buttons .btn:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
.buttons .btn:nth-child(1) {
  filter: hue-rotate(270deg);
}
.buttons .btn:nth-child(2) {
  filter: hue-rotate(110deg);
}
.buttons .btn .span {
  position: absolute;
  display: block;
}
.buttons .btn .span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s linear infinite;
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
.buttons .btn .span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
.buttons .btn .span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.buttons .btn .span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

.btn2 {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 0.8rem;
  padding: 0.3rem 1.4rem;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.btn2:hover,
.btn2:active {
  color: #fff;
  outline: 0;
}

.first {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.first:hover {
  box-shadow: 0 0 40px 40px #e74c3c inset;
}

.center-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.end-btns {
  display: flex;
}

.item-btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.like-dislike {
  display: flex;
  padding: 1rem;
  justify-content: space-evenly;
}

.btn-like {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2px;
  padding: 0.3rem 0.5rem;
}

.btn-dislike {
  margin-left: 5px;
  padding: 0.3rem 0.5rem;
}

.btn3 {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid #00a7f5;
  border-radius: 0.6em;
  color: #00a7f5;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 0.8rem;
  padding: 0.4rem 1.4rem;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  width: auto;
}
.btn3:hover,
.btn3:active {
  color: #fff;
  outline: 0;
}

.second {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.second:hover {
  box-shadow: 0 0 40px 40px #00a7f5 inset;
}

.btn4 {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid #00a7f5;
  border-radius: 0.6em;
  color: #00a7f5;
  cursor: pointer;
  display: flex;
  align-self: center;
  justify-content: center;
  font-size: 0.9rem;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  max-width: 10rem;
  padding-top: 0.2rem;
  margin-top: 0.5rem;
}
.btn4:hover,
.btn4:active {
  color: #fff;
  outline: 0;
}

.third {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.third:hover {
  box-shadow: 0 0 40px 40px #00a7f5 inset;
}

.btn-purple {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid #8843f2;
  border-radius: 0.6em;
  color: #8843f2;
  cursor: pointer;
  display: flex;
  align-self: center;
  justify-content: center;
  font-size: 0.9rem;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  max-width: 10rem;
  padding-top: 0.2rem;
  margin-top: 0.5rem;
}
.btn-purple:hover,
.btn-purple:active {
  color: #000;
  outline: 0;
}

.purple {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.purple:hover {
  box-shadow: 0 0 40px 40px #8843f2 inset;
}

.btn-orange {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid #ff5403;
  border-radius: 0.6em;
  color: #ff5403;
  cursor: pointer;
  display: flex;
  align-self: center;
  justify-content: center;
  font-size: 0.9rem;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  max-width: 10rem;
  padding-top: 0.2rem;
  margin-top: 0.5rem;
}
.btn-orange:hover,
.btn-orange:active {
  color: #000;
  outline: 0;
}

.orange {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.orange:hover {
  box-shadow: 0 0 40px 40px #ff5403 inset;
}

/* Login Page */
.background {
  display: flex;
  flex-direction: column;
  padding-top: 10%;
  /* justify-content: center; */
  align-items: center;
  /* background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%); */
  height: 89.5vh;
  width: 100%;
}
.background h1 {
  color: var(--primary-color);
}

.button3 {
  text-decoration: none;
  color: var(--primary-color);
  margin: 0.4em;
  padding: 1em;
  cursor: pointer;
  text-decoration: none;
}

/* Wobble Horizontal */
@keyframes wobble-horizontal {
  16.65% {
    transform: translateX(8px);
  }
  33.3% {
    transform: translateX(-6px);
  }
  49.95% {
    transform: translateX(4px);
  }
  66.6% {
    transform: translateX(-2px);
  }
  83.25% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(0);
  }
}
.wobble-horizontal {
  display: inline-block;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.wobble-horizontal:hover {
  animation-name: wobble-horizontal;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

/* Register Page  */
.background2 {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  /* justify-content: center; */
  align-items: center;
  /* background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%); */
  height: 100%;
  width: 100%;
}

/* Mobile Styles */
@media (max-width: 700px) {
  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  .navbar {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .navbar h1 {
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 2rem;
  }
  .mode {
    padding-left: 45%;
  }
  h1 .link {
    margin: 0;
  }
  .links {
    display: flex;
    justify-content: space-around;
    padding: 0;
  }
  .links .link {
    display: flex;
    align-items: center;
    margin: 0.5rem;
  }
  .hide-sm {
    display: none;
  }
  /* Profiles Page */
  .profile {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .profile ul {
    display: none;
  }

  /* Profile Page */

  .profile-top img,
  .profile img {
    width: 150px;
    margin: auto;
  }

  .profile-grid {
    grid-template-areas:
      'top'
      'about'
      'exp'
      'edu'
      'github';
  }

  .profile-about .skills {
    flex-direction: column;
  }

  .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
  }

  .post {
    grid-template-columns: 1fr;
  }
  .post a,
  .post button {
    padding: 0.3rem 0.4rem;
  }
  .img-top {
    height: 100px;
  }
  .profile-sm {
    display: flex;
    justify-content: center;
  }
  .btn4 {
    padding: 0.2rem
  }
}

@media (min-height: 695px) {
  .background,
  .background2 {
    height: 56rem;
  }
}
